@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Roboto Mono", monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.container h1 {
  font-size: 80px;
  color: white;
}
